body {
    font-family: Arial, sans-serif;
    background-color: #BFBAA8;
    /* */
    text-align: center;
    width: 100%;
    
}

#screen {
    background-color: #F1EFEA;
    /* */
    display: inline-block;
    margin: 0 auto;
    padding: 3px;

}

/*Styling for Large Screens */
@media screen and (min-width:1200px) {
    #screen {
        width: 80%;
    }

}

/*Styling for Small Screens */
@media screen and (max-width:1200px) {
    #screen {
        width: 100%;
    }
}

/* Navigation Bar */
#overview-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



header {
    /*
    background-color: black;
    */
    text-align: center;
    padding: 20px;
    height: 32px;
}

#logo {
    width: 120px;
    border: 1px solid #F1EFEA;
    border-radius: 10px;
}



main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#note-form, #note-list {
    flex: 1;
    padding: 20px;
}

form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

label, input, textarea {
    display: block;
    margin: 10px 0;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}
